body {
    margin: 0;
    height: 100vh;
    background-image: url('images/background.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
}

.container {
    position: relative;
}

.timer-frame {
    background-image: url('images/frame.png');
    width: 600px;
    height: 300px;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
}

.timer-display {
    font-size: 4em;
    color: #fff;
    text-align: center;
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
}

.plus-five {
    position: absolute;
    bottom: 30px;
    left: 100px;
    background-image: url('images/button-green.png');
    background-size: cover;
    width: 50px;
    height: 50px;
    border: none;
    cursor: pointer;
    color: white;
}

.toggle-button {
    width: 80px;
    height: 80px;
    background-size: cover;
    border: none;
    cursor: pointer;
    color: white;
}

.auspex {
    position: absolute;
    top: 50px;
    right: 100px;
    background-image: url('images/button-red.png');
}

.main-coms {
    position: absolute;
    top: 150px;
    right: 100px;
    background-image: url('images/button-red.png');
}
