body {
    margin: 0;
    height: 100vh;
    width: 100vw;
    background-image: url('images/background.jpg');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
}

.container {
    position: absolute;
    width: 100%;
    height: 100%;
}

.timer-frame {
    display: none;
}

.timer-display {
    font-size: 15vmin;
    color: #fff;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 27%;
    transform: translate(-50%, -50%);
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    user-select: none;
}

.plus-five {
    position: absolute;
    top: 74%;
    left: 44.5%;
    transform: translate(-50%, -50%);
    width: 7vmin;
    height: 7vmin;
    background-image: url('images/button-green.png');
    background-size: cover;
    border: none;
    cursor: pointer;
    color: transparent;
    font-size: 0;
}

.toggle-button {
    width: 9vmin;
    height: 9vmin;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    cursor: pointer;
    color: transparent;
    font-size: 0;
    padding: 0;
    margin: 0;
}

.auspex {
    position: absolute;
    top: 29%;
    left: 76%;
    transform: translate(-50%, -50%);
    background-image: url('images/button-red.png');
}

.main-coms {
    position: absolute;
    top: 65%;
    left: 76%;
    transform: translate(-50%, -50%);
    background-image: url('images/button-red.png');
}
